* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    overflow-x: hidden;
}
.conatainer{
    position: relative;
}

.navbar {
    color: white;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.751);
}

.logo {
    width: 200px;
    height: 50px;
}

nav ul {
    list-style: none;
    float: left;
    padding: 10px 0;

}

.navbar li {
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    font-size: 13px;
}

.navbar li a:hover {
    background-color: #1375AE;
    color: black;
    transition: 0.5s;
}

button a {
    list-style: none;
    color: black;
    text-decoration: none;
}

.button1 {
    background-color: white;
    color: black;
    border: 1px solid #898889;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;

}

.button1:hover {
    background-color: #FFD52C;
}

.button2 {
    background-color: #FFD52C;
    color: black;
    border: 1px solid #898889;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
}

.button2:hover {
    background-color: #323E6B;
}

.button2:hover a {
    color: white;
}

.welcome-offer {
    background: linear-gradient(to right, #21BDCE, #042E8D);
    padding: 6px 6px;
    margin: 8px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.employer {
    color: white;
    text-align: center;
    margin: 3px 6px;
    padding: 10px 12px;
}

.job-offer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 100px;
    padding-left: 30px;
    position: relative;

}

.text-title {
    background-image: linear-gradient(90deg, #ffd52c 0, #ffea95 25%, #fff 50%, #ffea95 75%, #ffd52c 100%);
    background-clip: text;
    animation: 0.5s linear infinite;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    right: 20%;
}

p.text-title {
    padding: 10px 0;
    position: relative;
    left: 8%;
}

.btn {
    display: flex;
    justify-content: end;
    position: relative;
}

.btn a {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: none;


}

.btn1 {
    background-color: #ffd52c;
    border-radius: 6px;
    border-style: none;
    margin: 12px 5px;
    padding: 8px 12px;

}

.btn1:hover a {
    color: white;
}

.btn2 {
    background-color: white;
    border-radius: 5px;
    border-style: none;
    margin: 12px 5px;
    padding: 5px 12px;
}

.btn li {
    font-size: 12px;
    margin: 13px 5px;
    ;
}

.btn li a {
    color: white;
    list-style: none;
}

.btn li a:hover {
    color: #022FE8;
    transition: 0.2s;
}

.heading {
    text-align: center;
    margin: 10px 10px;
    margin-top: 25px;
    color: #051A78;
    font-size: 15px;
}

.sections {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 8px 0px;
}

.section1 {
    width: 50%;
    border-radius: 15px;
    background-color: #7AD5D5;
    margin: 1px 30px;
}

.section2 {
    width: 50%;
    border-radius: 15px;
    background-color: #7AD5D5;
    margin: 1px 30px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    padding: 3px 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.search-input {
    width: 100%;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 3px;
    border-style: none;
}

.search-btn {
    background-color: #ffd52c;
    color: black;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    padding: 6px 10px;
    margin: 5px 8px;
    width: 20%;
}

.view-jobs {
    display: flex;
    justify-content: end;
    margin: 0 5px;
}

.quick-job-search {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    padding: 3px 0px;
    color: #141360;
    margin-bottom: 0;
}

.quick-job-search h4 {
    font-size: 16px;
    padding: 5px 20px;
}

img {
    width: 10%;
    height: 20px;
}

.svg-search {
    height: 18px;
    position: absolute;
    left: 76%;
}

.hastags {
    display: flex;

}

.hastags li {
    list-style: none;
    display: inline-block;
}

.hastags li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 6px;
}

.job-feature {
    text-align: center;
    margin: 5px 5px;
    padding: 5px 0px;
    color: #384A9A;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.job-slider-container {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    margin: 20px 0;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}

.job-slider {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.job-slider li {
    flex: 0 0 20%;
    box-sizing: border-box;
    margin: 10px 34px;
    padding-bottom: 10px;
    border: 1px solid grey;
}

.job-slider li a {
    /* height: 150px; */
    display: block;
    padding: 0px 10px;
    margin: 6px 8px;
    text-align: left;
    text-decoration: none;
    transition: background 0.2s;
}

.jobrole {
    font-size: 13px;
    color: #030A81;
    font-weight: bold;
}

.company {
    color: black;
    font-size: 10px;
}

.company:hover {
    color: #23527C;
}

.details {
    font-size: 11px;
    color: #898889;
    display: block;
    margin: 8px 15px;
}

.apply-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.apply-btn {
    background-color: #00B7B7;
    border: none;
    padding: 0 80px;
    margin: 5px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.apply-btn a {
    color: white;
    font-size: 14px;
}

.apply-btn:hover a {
    color: #ffd52c;
}

.apply-btn:hover {
    border: 1px solid #ffd52c;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    font-size: 28px;
    font-weight: lighter;
    cursor: pointer;
    z-index: 1;
    padding: 0 10px;
    transition: background 0.2s;
    background: transparent;
}

.slider-btn.prev {
    left: 0;
    color: #1375AE;
}

.slider-btn.next {
    right: 0;
    color: #1375AE;
}

.featured-employer {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0;
}

.featured-employer span {
    color: #455180;
}

.download-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    margin-bottom: 20px;
}

.sec1 {
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    margin-top: 30px;
    padding: 20px 20px;
}

.sec1 p {
    position: relative;
    left: 30%;
    margin: 10px 10px;
}

#sec {
    font-size: 25px;
}

.sec1 p span {
    color: #152CDE;
    font-size: 20px;
    font-weight: 100;
}

.images {
    position: relative;
    left: 30%;
    font-size: 40px;
    display: flex;
}

.images img {
    width: 170px;
    height: 50px;
    margin: 5px 10px;
}

.download {
    display: flex;
    position: relative;
}

.download p {
    font-size: 25px;
    font-weight: bold;
}

.download li {
    list-style: none;
    position: relative;
    left: 31%;
    margin-top: 10px;

}

.download li a {
    text-decoration: none;
    color: blue;
    font-size: 25px;
    font-weight: bold;
    left: 30%;
}

.sec2 {
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    margin-top: 30px;
    padding: 20px 20px;
}

.sec2 img {
    right: 12%;
    width: 300px;
    height: 250px;
    position: absolute;
}

.last-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 300px;
    border-bottom: 2px solid #2b438d;    
}

.part1 {
    background-image: url(https://www.jobringer.com/images/city-job-bg.jpg);
    background-color: #E8F5F5;
    background-blend-mode: multiply;
    background-size: cover;
    width: 55%;
    text-align: center;
    margin-right: 7px;
   
}

.part1 h2 {
    margin: 25px 10px;
    font-size: 25px;
    text-transform: uppercase;
}

.job-list {
    display: flex;
    text-align: start;
    margin: 20px 20px;
}

.job-list li {
    list-style: none;
    display: inline-block;
}

.job-list li a {
    text-decoration: none;
    color: black;
    padding: 9px 6px;
    font-size: 15px;
    line-height: 2.4;
}
.job-list li a:hover{
    color: #323E6B;
}
.part2{
    background-image: url(https://www.jobringer.com/images/city-job-bg.jpg);
    background-color: #E8F5F5;
    background-blend-mode: multiply;
    background-size: cover;
    width: 45%;
    text-align: center;  
}
.part2 h2 {
    margin: 25px 10px;
    font-size: 25px;
    text-transform: uppercase;
}
.numbering-of-jobs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 190px;
    border-bottom: 2px solid #2b438d;
    background-color: #DEEAEA;
    padding-bottom: 5px;
}
.numbering {
    padding: 5px 0;
}
.numbering p{
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
.numbering h1{
    color: #0023B5;
    text-align: center;
}
.disclaimer{
    background-color:  #DEEAEA;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}
.paragraph{
    width: 70%;
    text-align: left;
    font-size: 13px;
}
.paragraph span{
    font-weight: bold;
}
.social-media {
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: #DEEAEA;
    padding: 0 125px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2B438D;
    
}

.social-media p {
    font-size: 13px;
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
}
.svg-icon {
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #323E6B;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.svg-logo:hover{
    fill: #FFD52C;
}

footer{
    background-color: #DEEAEA;
}
.footer{
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 12px 0;
}
.footer li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0 14px;
}
.footer li a{
    color: black;
    text-decoration: none;
}
.reserved-rights{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.reserved-rights p{
    letter-spacing: 0;
    line-height: normal;
    color: black;
    margin: 3px;
    font-size: 14px;
    font-weight: 400;

}


@media (max-width: 900px) {
    .job-slider li {
        flex: 0 0 50%;
    }
}

@media (max-width: 600px) {
    .job-slider li {
        flex: 0 0 100%;
    }
}